body {
  font-size: 20px;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: #334;
  line-height: 1.4;
  margin: 0px;
}

.grid {
  max-width: 900px !important;
}

/* All highlights become red */
::selection {
  background: #F33446;
  color: #FFF;
}

::-moz-selection {
  background: #F33446;
  color: #FFF
}

.header {
  position: relative;
  overflow: hidden;
  line-height: 0px;
}

.header:before {
  right: 50%;
  border-right: 40px solid transparent;
  border-left: 1000px solid #fff;
}

.header:after {
  left: 50%;
  border-left: 40px solid transparent;
  border-right: 1000px solid #fff;
}

.header:before, .header:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  border-bottom: 40px solid #fff;
  -moz-transform: rotate(0.000001deg);
  -webkit-transform: rotate(0.000001deg);
  -o-transform: rotate(0.000001deg);
  -ms-transform: rotate(0.000001deg);
  transform: rotate(0.000001deg);
}

.down-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -22px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s margin-bottom ease;
  -moz-transition: 0.3s margin-bottom ease;
  -ms-transition: 0.3s margin-bottom ease;
  -o-transition: 0.3s margin-bottom ease;
  transition: 0.3s margin-bottom ease;
}

.down-arrow:hover {
  margin-bottom: 10px;
}

.down-arrow:hover svg path {
  fill: #F33446;
  -webkit-transition: fill 800ms;
  transition: fill 800ms;
}

.coverr {
  position: relative;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 540px;
  width: auto;
  height: auto;
  margin-bottom: -100px;

  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
}

.profile {
  position: absolute;
  width: 500px;
  top: calc(50% - 200px);
  left: calc(50% - 250px);
  text-align: center;
}

.profile h1 {
  font-size: 60px;
  font-weight: 400;
  color: white;
}

.profile .subheading {
  font-size: 35px;
  color: #FFF;
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#sidebar {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: rgba(17, 17, 17, 0.5);
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 1.1px;
}

#sidebar.scrolled {
  background-color: rgba(17, 17, 17, 1);
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
}

#sidebar.open, #sidebar.open nav {
  background-color: rgba(17, 17, 17, 1);
}

#sidebar.open nav {
  opacity: 1;
  -webkit-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
  pointer-events: auto;
}

#sidebar a {
  font-weight: 400;
  -webkit-transition: color 600ms;
  transition: color 600ms;
}

#mobile-logo {
  position: absolute;
  float: left;
  margin-top: 4px;
  margin-left: 8px;
}

#logo {
  width: 35px;
  height: auto;
}

#mobile-nav {
  display: none;
  text-align: right;
  margin-top: 9px;
  margin-right: 20px;
  margin-bottom: 8px;
}

#categories ul li a.active {
  color: #F33446;
}

.heading {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
}

.heading-modal {
  text-align: center;
  font-size: 40px;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

a.white {
  color: #FFF;
}

.btn i.zmdi{
  margin-right: 3px;
}

i.fa, a, a:hover {
  color: #F33446;
}

.btn {
  display: inline-block;
  margin-top: 15px;

  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.33;
  border-radius: 6px;
  border: solid 2px #F33446;
  background: transparent;
  text-align: center;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: #F33446;
  color: #FFF;
  text-decoration: none;
}

.btn-lg {
  padding: 18px 27px;
  font-size: 20px;
}

.btn-sm {
  padding: 14px 18px;
  font-size: 16px;
}

ul {
  list-style: none;
  text-decoration: none;
}

nav {
  display: block;
  float: right;

  text-align: right;
  background: none;
  position: absolute;
  bottom: 13px;
  right: 0px;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  margin-right: 20px;
  margin-bottom: 0px;
  line-height: 1;
  float: left;
}

nav ul li a {
  text-transform: uppercase;
  color: #FFF;
}

.social {
  position: relative;
  height: 100px;
  padding-bottom: 40px;
  text-align: center;
}

.social a {
  position: absolute;
  margin: 0px 2px;
  padding: 8px;
  border-radius: 6px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-out;

  background-color: #FFF;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.social a:hover, .social a:hover div{
  text-decoration: none;
  background-color: #F33446;
  color: #FFF;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.social i {
  font-size: 60px;
}

.social div {
  margin-top: 3px;
  font-weight: 400;
  font-size: 16px;
}

.portfolio-background {
  background-color: #334055;
  color: white;
}

.portfolio-background h2, .portfolio-background h3 {
  color: white;
} 

.portfolio-footer {
  text-align: center;
}

#portfolio .overlay-container {
  line-height: 0;
}

#portfolio.grid {
  max-width: 1100px !important;
}

#introduction, #portfolio, #contact {
  padding-bottom: 40px;
}

#portfolio > h2{
  color: #FFF;
}

/* Small mobile */
@media only screen and (max-width: 500px){

  .social {
    height: 70px;
    padding-bottom: 0px;
  }

  .social div {
    display: none;
  }
}


/* Modals */

.modal-container {
  background-color: transparent !important;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.modal-link > h2 {
  color: #FFF;
}

.modal-close-main i {
  position: absolute;
  top: 5px;
  right: 0px;
  padding: 0 15px;
  
  font-size: 35px;
  color: grey;
  cursor: pointer;
}

.modal-content {
  position: relative;
  top: 100px;
  padding-bottom: 25px;
  background-color: white;
  border-radius: 4px;

  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-content img {
  margin-bottom: 30px;
}

.modal-content .btn {
  margin-bottom: 5px;
}

.modal-content .btn i {
  margin-right: 5px;
}

.overlay-container {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F33446;
  z-index: 2;

  opacity:  0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.overlay:hover {
  opacity: 0.8;
}

.overlay i {
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 40px);
  font-size: 90px;
  color: white;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 14px;
  height: 0;
  overflow:
  hidden;
  max-width: 100%;
} 

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media print, screen and (max-width: 1200px) {

  .heading {
    margin-top: 0px;
  }

  .profile {
    width: 400px;
    top: calc(50% - 170px);
    left: calc(50% - 200px);
  }

  .profile h1 {
    font-size: 40px;
  }

  .profile .subheading {
    font-size: 25px;
  }

  .circular {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px){

  #mobile-nav {
    display: block;
  }

  nav {
    opacity: 0;
    position: relative;
    height: 110px;
    float: none;
    margin: 0;
    top: -2px;
    left: inherit;
    width: 100%;


    padding-top: 4px;
    background-color: rgba(17, 17, 17, 1);
    -webkit-transition: opacity 400ms ease-out;
    transition: opacity 400ms ease-out;
    pointer-events: none;
  }

  nav ul li{
    float: none;
    margin-bottom: 20px;
    text-align: right;
  }

  .heading {
    font-size: 38px;
  }

  .modal-content {
    top: 0px;
  }
}

@media only screen and (min-width: 767px){

  .modal-link {
    margin-bottom: 15px;
  }

  .modal-link img {
    height: 190px;
    width: 100%;
  }
}
