<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/scale.fix.js"></script>
<script src="/js/scripts.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
<script src="/js/animatedModal.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $(document).on("scroll", throttle(onScroll, 50));
  });
</script>

<script>
  var col = "#FFF";

  $("#coop-logo").animatedModal({
    modalTarget: 'coop',
    color: col,
    animatedIn: "fadeIn",
    animatedOut: "fadeOut",
    animationDuration: "0.4s"
  });

  $("#goahead-logo").animatedModal({
    modalTarget: 'goahead',
    color: col,
    animatedIn: "fadeIn",
    animatedOut: "fadeOut",
    animationDuration: "0.4s"
  });

  $("#sj-logo").animatedModal({
    modalTarget: 'sj',
    color: col,
    animatedIn: "fadeIn",
    animatedOut: "fadeOut",
    animationDuration: "0.4s"
  });

  $("#whitelines-logo").animatedModal({
    modalTarget: 'whitelines',
    color: col,
    animatedIn: "fadeIn",
    animatedOut: "fadeOut",
    animationDuration: "0.4s"
  });

</script>
