<img src="/images/logored.svg" style="display: none; border: 0"/> <!-- Preloading image -->
<div id="sidebar">
  <div id="desktop-logo">
    <a href="/" class="white" onmouseover="toggleLogo('red')" onmouseout="toggleLogo('white')">
      <img id="dl" src="/images/logo.svg" onerror="this.src='/images/logo.png'">
      <div>Adrian <!--b>Blanco</b--></div>
    </a>
  </div>
  <div id="mobile-logo">
    <a href="/" onmouseover="toggleLogo('red')" onmouseout="toggleLogo('white')">
      <img id="ml" src="/images/logo.svg" onerror="this.src='/images/logo.png'" width="35px"/>
    </a>
  </div>
  <div id="mobile-nav">
    <a href="#" onclick="toggle('categories')" class="white">MENU</a>
  </div>
  <nav id="categories" role="navigation">
    <div class="menu">
      <ul>
        <li class="about">
          <a href="/">About</a>
        </li>
        <li class="portfolio">
          <a href="/portfolio/">Portfolio</a>
        </li>
        <li class="cv">
          <a href="/cv/">CV</a>
        </li>
        <li class="contact">
          <a href="/contact/">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>