<div id="sidebar">
  <div id="mobile-logo">
    <a href="#home" onmouseover="toggleLogo('red')" onmouseout="toggleLogo('white')" onclick="$(window).scrollTo($('#home'), 400);">
      <img id="logo" src="/images/logo.png">
    </a>
  </div>
  <div id="mobile-nav">
    <a href="#!" onclick="toggleMenu()" class="white">MENU</a>
  </div>
  <nav id="categories" role="navigation">
    <div class="menu">
      <ul>
        <li class="introduction">
          <a href="#introduction" onclick="$(window).scrollTo($('#introduction'), 400, {offset: -50});toggleMenu();">Introduction</a>
        </li>
        <li class="portfolio">
          <a href="#portfolio" onclick="$(window).scrollTo($('#portfolio'), 400, {offset: -50});toggleMenu();">Portfolio</a>
        </li>
        <li class="contact">
          <a href="#contact" onclick="$(window).scrollTo($('#contact'), 400, {offset: -50});toggleMenu();">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>