#app {
    backdrop-filter: saturate(1.2) brightness(0.90) blur(2px);
}

.social-container:not(:first-child) {
    margin-left: 32px;
}

.social-container .social {
    min-width: 64px;
    min-height: 64px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 50%;
}

@media(hover: hover) {
    .social:hover {   
        background-color: transparentize($color: #fff, $amount: 0.4);
        transition-duration: .2s;
    }
}

@media(hover: none) {
    .social:active {   
        background-color: transparentize($color: #fff, $amount: 0.4);
        transition-duration: .2s;
    }
}