@font-face {
    font-family: 'Avenir Regular';
    src: url('./fonts/AvenirLTW02-55Roman.woff2') format('woff2'),
        url('./fonts/AvenirLTW02-55Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Black';
    src: url('./fonts/AvenirLTW02-95Black.woff2') format('woff2'),
        url('./fonts/AvenirLTW02-95Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('./fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('./fonts/AvenirLTStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Heavy';
    src: url('./fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
        url('./fonts/AvenirLTStd-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

