@use 'base';

a {
    display: inline-block;
  }
  
p a:after {
    content: "";
    display: block;
    height: 4px;
    width: 102%;
    background: transparentize($color: #fff, $amount: 0.1);
    margin-top: -6px;
    margin-left: -2px;
}

p a:hover:after {
    background: #ccc;
}

::selection {
    color: #111;
    background-color: #fff;
}

a {
    -webkit-tap-highlight-color: transparent;
}